@media (max-width: 600px) {
    .inputNumOperators{
        padding: 3rem;
        border: 1px solid yellow;
    }

    .inputNumOperators input{
        min-height: 3rem;
    }

    button{

        font-size: 1.2rem;
        height: 0.8rem;
        width: 0.8rem;
    }

    img{
        height: 28px;
        width: 28px;
    }

    .numberOperators button:nth-child(16){
        height: 10.7rem;
        grid-row: span 2;
    }
}